.blog{
  h1{
    color: $custom-color-orange;
    font-size: 44px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  &-text{
    font-size: 18px;
    line-height: 32px;
    color: $custom-color-text;
    margin-bottom: 50px;
  }
  .blog-list > div > div{
    display: flex;
    flex-wrap: wrap;
  }
  form{
    min-width: 100%;
    margin-bottom: 25px;
    select{
      border: 1px solid #5C5C5C;
      border-radius: 50px;
      height: 50px;
      width: 160px;
    }
  }
  .views-row{
    flex: 1 0 33%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    max-width: 33%;
  }
}
