.contact{
  margin: 100px 0;
  &-form-container{
    padding: 0 150px;
  }
  label{
    color: $custom-color-text;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  h1{
    line-height: 1.5;
    color: $custom-color-orange;
    margin-bottom: 50px;
  }
  h2{
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 25px;
    color: $custom-color-orange;
  }
  &-text{
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 25px;
    color: $custom-color-text;
  }
  form{
    display: flex;
    flex-wrap: wrap;
  }
  .form-text,
  .form-email,
  .form-textarea{
    border-radius: 10px;
    border: 1px solid #EFEFEF;
    min-height: 60px;
    padding: 5px 15px;
  }
  .form-textarea{
    min-width: 100%;
  }
  .form-actions{
    min-width: 100%;
  }
  .form-item{
    display: flex;
    flex-direction: column;
  }
  .form-wrapper{
    display: flex;
    flex: 1;
    margin-bottom: 25px;
  }
  .form-submit{
    background-color: $custom-color-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border-radius: 50px;
    color: white;
    width: 160px;
    border: 0;
    cursor: pointer;
  }
}
