.news{
  margin-bottom: 100px;
  h2{
    color: $custom-color-orange;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  .contextual-region{
    display: flex;
    justify-content: space-between;
  }

  &-button a{
    background-color: $custom-color-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border-radius: 50px;
    color: white;
    width: 160px;
    margin: 100px auto 0 auto;
  }
}
.news-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 275px;
  span{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $custom-color-orange;
    color: white;
    font-weight: 900;
    width: 100%;
    padding: 15px 0 40px 30px;
  }
}
.news-card img{
  width: 300px;
  height: 275px;
}
