<section class="blog">
  <div class="container container-max">
    <h1 class="h1-title">{{content.field_title_page}}</h1>
    <div class="blog-text">{{ content.field_subtitle }}</div>
    <div class="blog-list">
      {{ views_block__blog_moteur_block }}
    </div>
  </div>
</section>
