<div class="video">
  <div class="container container-max">
    <div class="video-text">
      {{ content.body }}
    </div>
    <div class="video-iframe">
      {{ content.field_video }}
    </div>
  </div>
</div>
