<div class="contact">
  <div class="container container-max">
    <h1 class="h1-title">Contact Us</h1>
    <div class="contact-form-container">
      <h2>{{ content.field_title }}</h2>
      <div class="contact-text">{{ content.field_text }}</div>
      {{ content.field_contact }}
    </div>
  </div>
</div>
