<div class="prefooter">
  <div class="container container-max">
    <div class="prefooter-content">
      <h3 class="prefooter-titre h3-title">
        Subscribe to <br/>Our Newsletter
      </h3>
      <p>
        Get exclusive discounts and latest news <br/>delivered to your inbox for free!
      </p>
    </div>
    <div class="prefooter-contact">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
</div>


