<div class="footer">
  <div class="container container-max">
    <div class="footer-slogan">
      <p>The Box, a fairytale company.</p>
    </div>
    <div class="footer-social">
      <b>Join us :</b>
      <img href="" alt="The Box Facebook">
      <img href="" alt="The Box Twitter">
      <img href="" alt="The Box Youtube">
    </div>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
